include /partials/menu-tabs
-
  var tabs = [
    {link:'car-share-ride.html', title:'Ride', isActive: tabName === 'ride', icon:{name:'car', width:'24', height:'20'}},
    {link:'car-share-trips.html', title:'My Trips', isActive: tabName === 'trips', icon:{name:'trips', width:'18', height:'20'}},
    {link:'car-share-eats.html', title:'Eats', isActive: tabName === 'eats', icon:{name:'eats', width:'22', height:'20'}},
    {link:'car-share-eats-cart.html', title:'My cart', isActive: tabName === 'cart', icon:{name:'cart', width:'21', height:'20'}, badge: {cnt: 3, color: 'red', round: true}},
  ]

.mobile-footer.js-mobile-footer
  if(mobFooterButton)
    .mobile-footer__button
      a(href="car-share-eats-checkout.html" class="button button--xl button--fluid button--400")
        .button__icon-left
          +icon('checkout', 'svg-icon--light')(width="20" height="22")
        | Proceed to checkout
  .mobile-footer__tabs
    +menu-tabs(tabs)
