include /partials/close
include /partials/ads-description
include /partials/writings-box

.popup.popup--mw-800.modal(data-popup="adbot-client-writings-popup")

  .popup__close.popup__close--outer
    +close({mdLight:true})(data-popup-close="adbot-client-writings-popup")

  .popup__body
    .column-group
      .column-group__item
        +writings-box({title:'Once Upon A Time', text:'Oh the enormous avenues of the holy land, the terraces of the temple! What has become of the Brahmin who explained the Proverbs to me? I can even see the old women still, of that time and place! I remember hours of silver and light by the rivers, my companion’s hand on my shoulder, our caresses as we stood on the spice-filled plains. – A flock of scarlet pigeons thunders round my thoughts. – Exiled here, I had a place to stage the theatrical masterpieces of every literature. I could show you unknown riches. I mark the history of treasures you discovered. I see what follows! My wisdom is as despised as the chaos. What is my nothingness, compared with the stupor that awaits you? <br/></br> Oh the enormous avenues of the holy land, the terraces of the temple! What has become of the Brahmin who explained the Proverbs to me? I can even see the old women still, of that time and place! I remember hours of silver and light by the rivers, my companion’s hand on my shoulder, our caresses as we stood on the spice-filled plains. – A flock of scarlet pigeons thunders round my thoughts. – Exiled here, I had a place to stage the theatrical masterpieces of every literature. I could show you unknown riches. I mark the history of treasures you discovered. I see what follows! My wisdom is as despised as the chaos. What is my nothingness, compared with the stupor that awaits you?'})
      .column-group__item
        .list-group
          .list-group__item
            +ads-description({title: 'Once Upon A Time', text: 'Poem by John Doe', comments: false})
          .list-group__item
            p.text-muted Oh the enormous avenues of the holy land, the terraces of the temple! What has become of the Brahmin who explained the Proverbs to me? I can even see the old women still,
      .column-group__item
        .button-group.button-group--fluid.button-group--sm-column
          +button({size:'xl', type:'white', classes:'button-group__button'})(href="marketplace-product.html")| Go to Shop
          +button({size:'xl', type:'bordered', classes:'button-group__button'})(type="button" data-popup-open="adbot-finish-popup")| Finish
