include /partials/close
include /partials/button
include /partials/ads-description
include /partials/video-box

.popup.popup--mw-800.modal(data-popup="adbot-client-music-popup")

  .popup__close.popup__close--outer
    +close({mdLight:true})(data-popup-close="adbot-client-music-popup")

  .popup__body
    .column-group
      .column-group__item
        +video-box({video:'https://www.youtube.com/embed/Bw9zSMsKcwk'})
      .column-group__item
        .list-group
          .list-group__item
            +ads-description({title: 'Strawberry Fields Forever', text: 'Song by John Doe', comments: false})
          .list-group__item
            p.text-muted Oh the enormous avenues of the holy land, the terraces of the temple! What has become of the Brahmin who explained the Proverbs to me? I can even see the old women still,
      .column-group__item
        .button-group.button-group--fluid.button-group--sm-column
          +button({size:'xl', type:'white', classes:'button-group__button'})(href="payment-successful.html")| Buy it now
            span.button__append
              h4 for 15 G
          +button({size:'xl', type:'bordered', classes:'button-group__button'})(type="button" data-popup-open="adbot-finish-popup")| Finish
