include /partials/cart
-
  var cartItems = [
    {image:'images/marketplace/products/product-1.jpg', link:'marketplace-product.html', info:'<h4 class="font-regular">Apple iPhone 8 Plus 64GB 256GB A1864 GSM...</h4>', details:'<h3>12G</h3>', remove:true},
    {image:'images/marketplace/products/product-1.jpg', link:'marketplace-product.html', info:'<h4 class="font-regular">Apple iPhone 8 Plus 64GB 256GB A1864 GSM...</h4>', details:'<h3>12G</h3>', remove:true},
    {image:'images/marketplace/products/product-1.jpg', link:'marketplace-product.html', info:'<h4 class="font-regular">Apple iPhone 8 Plus 64GB 256GB A1864 GSM...</h4>', details:'<h3>12G</h3>', remove:true},
  ]

+cart({title:'Cart total (3 items): 42G', items:cartItems, boxed:true})
