include /partials/greetings

+greetings({
  classes:'marketplace-page__greetings',
  color:'blue',
  title:'Welcome to marketplace, John',
  text:'Here you can buy and sell stuff',
  image:'images/marketplace/greetings/greetings-image.svg',
  light:true
})
