.marketplace-menu
  .marketplace-menu__list
    a(href="#").p.marketplace-menu__list-item Electronics
    a(href="#").p.marketplace-menu__list-item Fashion
    a(href="#").p.marketplace-menu__list-item Health & Beauty
    a(href="#").p.marketplace-menu__list-item Sports
    a(href="#").p.marketplace-menu__list-item Home & Garden
    a(href="#").p.marketplace-menu__list-item Books
    a(href="#").p.marketplace-menu__list-item Collectibles

  .marketplace-menu__aside
    a(href="marketplace-sellings.html").marketplace-menu__badge
      .marketplace-menu__badge-icon
        +icon('badge', 'svg-icon--muted close-icon__svg')(width="23" height="23")
      span.p.marketplace-menu__badge-title Sellings
