include /partials/contact-item
include /partials/chat
include /partials/button

.directory
  .directory__list
    div(data-simplebar class="custom-scroll")
      .select-list
        -var cnt = 0
        while cnt < 14
          div(class=`select-list__item ${cnt === 0 ? 'is-active' : ''}` data-directory-open="chat")
            +contact-item({data: true})
          -cnt++

    .directory__list-button
      +button({type:'round'})(type="button" data-popup-open="create-group-popup")
        +icon('people', 'svg-icon--primary')(width="22" height="14")

  .directory__content(data-directory-content="chat")
    +chat({headerContent:`<h4>John Doe</h4><p class="text-muted">last seen 5 minutes ago</p>`})
