include /partials/burger
include /partials/notifications-dropdown
include /partials/user-dropdown

.header
  .header__wrap
    .header__left
      .header__burger
        +burger({classes:'js-burger'})

      .header__title
        h3 Social Network

      .header__logo
        .header__logo-icon
          img(src="images/logo.svg", alt="logo.svg")
        span.header__logo-title 3D-Pesa

    .header__center
      include ./menu-tabs

    .header__right
      .header__dropdowns
        .header__dropdown
          +notifications-dropdown()
        .header__dropdown
          +user-dropdown()
