include /partials/greetings

+greetings({
  classes:'bartender-page__greetings',
  color:'orange',
  title:'Welcome to Bartender Trading',
  text:'Here you can buy and sell stuff',
  image:'images/bartender/greetings/greetings-image.svg',
  light:true
})
