include /partials/input
include /partials/notifications-dropdown
include /partials/user-dropdown
include /partials/menu-tabs
-
  var tabs = [
    {link:'bartender-home.html', title:'Home', isActive:tabName === 'home', icon:{name:'house', width:'21', height:'20'}},
    {link:'bartender-sell.html', title:'Sell', isActive:tabName === 'sell', icon:{name:'badge', width:'20', height:'20'}},
    {link:'bartender-orders.html', title:'Orders', isActive:tabName === 'orders', icon:{name:'box', width:'21', height:'20'}},
  ]

.header
  .header__wrap
    .header__left
      .header__burger
        .burger
          span

      .header__title
        h3 Bartender Trading

      .header__logo
        .header__logo-icon
          img(src="images/logo.svg", alt="logo.svg")
        span.header__logo-title 3D-Pesa

    .header__center
      .input-group.input-group--bg-primary
        .input-group__prepend
          .input-group__wrap
            +icon('search', 'svg-icon--muted')(width="18" height="18")
        +input({bg:'primary', classes:'input-group__input'})(type="text" placeholder="Search for anything")
      +menu-tabs(tabs)

    .header__right
      .header__dropdowns
        .header__dropdown
          +notifications-dropdown()
        .header__dropdown
          +user-dropdown()
