include /partials/menu-tabs
-
  var tabs = [
    {link:'car-share-passenger-ride.html', title:'Ride', isActive: tabName === 'ride', icon:{name:'car', width:'24', height:'20'}},
    {link:'car-share-passenger-trips.html', title:'My Trips', isActive: tabName === 'trips', icon:{name:'trips', width:'18', height:'20'}},
  ]

+menu-tabs(tabs)
