.car-share-ride
  div(data-simplebar class="custom-scroll")
    .car-share-ride__wrap
      .car-share-ride__map
        .map-box
          .map-box__wrap
            .map-box__controls-top
              .map-compass
            .map-box__controls-bottom
              .map-current-location
              .map-zoom
                .map-zoom__plus
                .map-zoom__minus

            .map-box__map.js-car-share-ride-map
