include /partials/cart
-
  var cartItems = [
    {image:'images/aethiopian/farm-equipment-products/product-1.jpg', info:'<h3>Hot dipped galvaniz..</h3><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id lacus, ac, mi duis amet, nisl,</p>', details: '<h4>12 G/hour</h4>', remove:true},
    {image:'images/aethiopian/farm-equipment-products/product-1.jpg', info:'<h3>Hot dipped galvaniz..</h3><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id lacus, ac, mi duis amet, nisl,</p>', details: '<h4>12 G/hour</h4>', remove:true},
  ]

+cart({title:'Cart total (3 items): 42G', items:cartItems, boxed:true})
