include /partials/catalog-header
include /partials/slider-arrows
include /partials/see-all
include /partials/shop-card
-
  var categories = [
    {link:'aethiopian-share-shop-category.html', image: 'images/aethiopian/construction-equipment-categories/category-1.jpg', title: 'Dozers'},
    {link:'aethiopian-share-shop-category.html', image: 'images/aethiopian/construction-equipment-categories/category-2.jpg', title: 'Articulated Dump Trucks'},
    {link:'aethiopian-share-shop-category.html', image: 'images/aethiopian/construction-equipment-categories/category-3.jpg', title: 'Backhoes'},
    {link:'aethiopian-share-shop-category.html', image: 'images/aethiopian/construction-equipment-categories/category-4.jpg', title: 'Compact Track Loaders'},
  ]

.catalog
  .catalog__header
    +catalog-header({
      left: `<h3>Electric Construction Equipment</h3>`,
      right: {partial:'see-all', params:{link:'aethiopian-share-shop-categories.html'}}
    })

  .catalog-slider
    .catalog-slider__arrows
      +slider-arrows({prev: 'js-catalog-slider-prev', next: 'js-catalog-slider-next'})
    .row.catalog-slider__slides.js-catalog-slider
      +times(3)
        each category in categories
          .catalog-slider__slide
            +shop-card({
              link:category.link,
              image:category.image,
              content:[
                `<h4 class="text-center">${category.title}</h4>`
              ]
            })
