.aethiopian-shop-menu
  .aethiopian-shop-menu__left
    .aethiopian-shop-menu__title
      h3 Shop #1
    .aethiopian-shop-menu__icon(data-popup-open="shop-info-popup")
      +icon('info', 'svg-icon--muted aethiopian-shop-menu__icon-svg')(width="22" height="22")
    .aethiopian-shop-menu__button
      a(href="aethiopian-share-shop-finder.html" class="button button--bordered") Browse
