include /partials/greetings

+greetings({
  classes:'calendar-page__greetings',
  color:'yellow',
  title:'Welcome to your calendar, John',
  text:'Here, you can see all your meetings, messages and create  new ones',
  image:'images/calendar/greetings/greetings-image.svg'
})
