include /partials/select
include /partials/calendar-action

.calendar-full__item-header
  .calendar-header
    .calendar-header__format
      .calendar-header__format-text
        p.p-xs.text-uppercase GMT+3
    .calendar-header__days
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Sun
          a(href="#" class="h3 text-muted calendar-header__day-date") 11
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Mon
          a(href="#" class="h3 text-muted calendar-header__day-date") 12
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Tue
          a(href="#" class="h3 text-muted calendar-header__day-date") 13
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Wed
          a(href="#" class="h3 text-muted calendar-header__day-date") 14
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Thu
          a(href="#" class="h3 text-muted calendar-header__day-date") 15
      .calendar-header__day
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Fri
          a(href="#" class="h3 text-muted calendar-header__day-date") 16
      .calendar-header__day.calendar-header__day--active
        .calendar-header__day-info
          h5.text-muted.calendar-header__day-name Sat
          a(href="#" class="h3 text-muted calendar-header__day-date") 17
        .calendar-header__day-notification
          +calendar-action({icon:{name:'birthday', width:'12', height:'12'}, title:'Frank Jones', color:'purple'})(data-popup-open="event-popup")

.calendar-full__item-wrap
  div(data-simplebar class="custom-scroll")
    .calendar-table-week.js-calendar-popup-open(data-calendar-popup-open-class="calendar-table-week__col")

      .calendar-table-week__row
        .calendar-table-week__time
          .calendar-table-week__time-text
            span.h6.font-regular 1pm
        .calendar-table-week__cols
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
            .calendar-table-week__current
              .calendar-current

      .calendar-table-week__row
        .calendar-table-week__time
          .calendar-table-week__time-text
            span.h6.font-regular 2pm
        .calendar-table-week__cols
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
            .calendar-table-week__events
              .calendar-table-week__event
                 +calendar-action({icon:{name:'reminder', width:'10', height:'12'}, title:'Pay taxes', color:'blue'})(data-popup-open="reminder-popup")

      .calendar-table-week__row
        .calendar-table-week__time
          .calendar-table-week__time-text
            span.h6.font-regular 3pm
        .calendar-table-week__cols
          .calendar-table-week__col
          .calendar-table-week__col
            .calendar-table-week__events
              .calendar-table-week__event
                +calendar-action({icon:{name:'task', width:'12', height:'12'}, title:'Call parents', color:'green'})(data-popup-open="task-popup")
              .calendar-table-week__event
                +calendar-action({icon:{name:'task', width:'12', height:'12'}, title:'Meditation', color:'green'})(data-popup-open="task-popup")
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col

      .calendar-table-week__row
        .calendar-table-week__time
          .calendar-table-week__time-text
            span.h6.font-regular 4pm
        .calendar-table-week__cols
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col
            .calendar-table-week__events
              .calendar-table-week__event
                +calendar-action({title:'Meeting with John Doe', color:'purple', time:'8 PM - 9 PM'})(data-popup-open="event-popup")
          .calendar-table-week__col
          .calendar-table-week__col
          .calendar-table-week__col

      - var n = 5;
      while n < 12
        .calendar-table-week__row
          .calendar-table-week__time
            .calendar-table-week__time-text
              span.h6.font-regular #{n++}pm
          .calendar-table-week__cols
            .calendar-table-week__col
            .calendar-table-week__col
            .calendar-table-week__col
            .calendar-table-week__col
            .calendar-table-week__col
            .calendar-table-week__col
            .calendar-table-week__col
