include /partials/greetings

+greetings({
  classes:'adbot-page__greetings',
  color:'pink',
  title:'Welcome to Adbot',
  text:'Here you can buy and sell stuff',
  image:'images/adbot/greetings/greetings-image.svg',
  light:true
})
