include /partials/offer-card

.column-group
  .column-group__item
    h3 Archive
  .column-group__item
    .row
      .col-12.col-md-6
        +offer-card()(data-popup-open="offer-popup")
      .col-12.col-md-6
        +offer-card()(data-popup-open="offer-popup")
