include /partials/close

.popup.modal(data-popup="shop-finder-popup")
  .popup__header-offset
  .popup__header
    .content-header.content-header--md-border-0
      .content-header__center
        h3 Find a shop
      .content-header__right.content-header__right--md-left
        +close({mdLight:true})(data-popup-close="shop-finder-popup")

  .popup__body
    include ./shop-finder-infowindow
