.list-group.list-group--full
  .list-group__header
    h3 Account preferences
  .list-group__item
    span.p.cursor-pointer(data-popup-open="advertisement-popup") Advertisement Preferences
  .list-group__item
    span.p.cursor-pointer Close account
