include /partials/close
include /partials/input
include /partials/checkbox
include /partials/country-select
include /partials/state-select
include /partials/button
include /partials/range

mixin choose-location-radius-popup(props = {})

  .popup.modal.popup(data-popup="choose-location-radius-popup")

    .popup__header-offset
    .popup__header
      .content-header.content-header--md-border-0
        .content-header__center
          h3 Choose location
        .content-header__right.content-header__right--md-left
          +close({mdLight:true})(data-popup-close="choose-location-popup")

    .popup__body
      .column-group
        .column-group__item
          +checkbox({squere:true, label:'Use my current location', checked:true})(data-checkbox-toggle="location" data-checkbox-reversed)
        .column-group__item(data-checkbox-toggle-content="location")
          form.form
            .form__line
              .form-group
                .form-group__header
                  label.p Country
                +country-select()
            .form__line
              .row
                .col-7
                  .form-group
                    .form-group__header
                      label.p State/Province
                  +state-select()
                .col-5
                  .form-group
                    .form-group__header
                      label.p Zip code
                    +input()(type="text" placeholder="0000")
            .form__line
              .form-group
                .form-group__header
                  label.p City
                +input()(type="text" placeholder="City")
        .column-group__item
          +range()

        .column-group__item
          +button({size:'xl', fluid:true})(type="submit")| Apply
