mixin delivery-info(props = {})

  .column-group.column-group--sm
    .column-group__item
      p.text-muted Pickup date and time:
      p Wed, Mar 19, 2020 at 9:30 am
    .column-group__item
      p.text-muted Drop down date and time:
      p Wed, Mar 19, 2020 at 9:30 am
