mixin location-picker(props = {})

  .row-group.row-group--xs.row-group--align-center.cursor-pointer(data-popup-open="choose-location-popup")
    .row-group__item
      +icon('pin', 'svg-icon--light')(width="14" height="20")
    .row-group__item
      h4.text-underline Franklin St. 17
