mixin mediafiles(props = {})

  .mediafiles.js-mediafiles
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg").mediafiles__item.js-mediafiles-item
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
