mixin post-images(props = {})

  .post-images.js-post-images
    a(href="images/social-app/post/post-image.jpg" class="post-images__item js-post-images-item")
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
    a(href="images/social-app/post/post-image.jpg" class="post-images__item js-post-images-item")
      img(src="images/social-app/post/post-image.jpg", class="image" alt="post-image")
