mixin rating-histogram(props = {})

  .rating-histogram
    .rating-histogram__item
      .rating-histogram__stars
        .rating-histogram__stars-title
          h4 5
        .rating-histogram__stars-icon
          img(src="images/icons/star.svg", alt="star")
      .rating-histogram__bar
        .rating-histogram__bar-fill(style="width:80%")
      .rating-histogram__count
        p 115 ratings
    .rating-histogram__item
      .rating-histogram__stars
        .rating-histogram__stars-title
          h4 4
        .rating-histogram__stars-icon
          img(src="images/icons/star.svg", alt="star")
      .rating-histogram__bar
        .rating-histogram__bar-fill(style="width:60%")
      .rating-histogram__count
        p 43 ratings
    .rating-histogram__item
      .rating-histogram__stars
        .rating-histogram__stars-title
          h4 3
        .rating-histogram__stars-icon
          img(src="images/icons/star.svg", alt="star")
      .rating-histogram__bar
        .rating-histogram__bar-fill(style="width:15%")
      .rating-histogram__count
        p 43 ratings
    .rating-histogram__item
      .rating-histogram__stars
        .rating-histogram__stars-title
          h4 2
        .rating-histogram__stars-icon
          img(src="images/icons/star.svg", alt="star")
      .rating-histogram__bar
        .rating-histogram__bar-fill(style="width:15%")
      .rating-histogram__count
        p 8 ratings
    .rating-histogram__item
      .rating-histogram__stars
        .rating-histogram__stars-title
          h4 1
        .rating-histogram__stars-icon
          img(src="images/icons/star.svg", alt="star")
      .rating-histogram__bar
        .rating-histogram__bar-fill(style="width:25%")
      .rating-histogram__count
        p 12 ratings
