mixin remove-button(props)

  .remove-button
    p.text-muted.remove-button__text Remove
    .remove-button__icon
      +icon('trash-can', 'svg-icon--muted remove-button__icon-svg')(width="15" height="15")
