mixin replay-item(props = {})
  -const { image } = props

  .replay-item
    figure(class="replay-item__image" style=`background-image:url('${image}')`)
    .replay-item__overlay
      .replay-item__icon
        +icon('replay', 'svg-icon--light')(width="60" height="60")
