extends layouts/main
include /partials/sidebar
include /partials/shop-info-popup

block variables
  - const title = 'Aethiopian'
  - const heading = 'Aethiopian'
  - const tabName = 'shop'

block content
  .aethiopian-page
    +shop-info-popup()
    .aethiopian-page__sidebar
      +sidebar({navActive:'aethiopian', innerNavigation:'share'})

    .aethiopian-page__container
      include /pages/aethiopian-share/header
      .aethiopian-page__wrap
        .aethiopian-page__menu
          include /pages/aethiopian-share/shop/shop-menu

        .aethiopian-page__content
          div(data-simplebar class="custom-scroll aethiopian-page__box")
            include /pages/aethiopian-share/shop/home

    include /pages/aethiopian-share/mobile-footer
