extends layouts/main
include /partials/country-select
include /partials/input
include /partials/state-select
include /partials/inter-tel-input
include /partials/upload-files
include /partials/checkbox
include /partials/time-select

block variables
  - var title = 'Welcome to athiopian'

block content
  .start-page
    .start-page__navigation
      .start-page__navigation-circle
        +icon('chevron-left', 'svg-icon--stroke-light start-page__navigation-icon')
      h5.text-muted.text-uppercase.start-page__navigation-title Dashboard

    .start-page__container
      .start-page__content
        .start-page__content-box
          div(data-simplebar class="custom-scroll start-page__content-scroll")
            form.form
              .form__line
                h2 Welcome to your Shop!
              .form__line
                p.text-muted Here you can loan your equipment to your customers
              .form__line
                h3 Shop information
              .form__line
                .form-group
                  .form-group__header
                    label.p Shop name
                  +input()(type="text" placeholder="Shop name")
              .form__line
                .form-group
                  .form-group__header
                    label.p Country
                  +country-select()
              .form__line
                .form-group
                  .form-group__header
                    label.p Address
                  input(type="text" class="input" placeholder="Your address")
              .form__line
                .row
                  .col-7
                    .form-group
                      .form-group__header
                        label.p State/Province
                      +state-select()
                  .col-5
                    .form-group
                      .form-group__header
                        label.p Zip code
                      input(type="number" class="input" placeholder="0000")
              .form__line
                .form-group
                  .form-group__header
                    label.p Mobile phone
                  +inter-tel-input()
              .form__line
                .form-group
                  .form-group__header
                    label.p Email
                  input(type="text" class="input" placeholder="Your address")
              .form__line
                .form-group
                  .form-group__header
                    label.p Add photos
                  +upload-files([{title: 'Add cover image'}, {title: 'Add image'}, {placeholder:true}, {placeholder:true}])
              .form__line
                span.p Working hours
              .form__line
                .form-group
                  .form-group__header
                    +checkbox({label:'Monday', checked:true})(data-checkbox-toggle="monday")
                div(data-checkbox-toggle-content="monday")
                  .row
                    .col-6
                      .form-group
                        .form-group__header
                          label.p From
                        +time-select()
                    .col-6
                      .form-group
                        .form-group__header
                          label.p To
                        +time-select()
              .form__line
                .form-group
                  .form-group__header
                    +checkbox({label:'Thuesday'})(data-checkbox-toggle="thuesday")
                div(data-checkbox-toggle-content="thuesday")
                  .row
                    .col-6
                      .form-group
                        .form-group__header
                          label.p From
                        +time-select()
                    .col-6
                      .form-group
                        .form-group__header
                          label.p To
                        +time-select()
              .form__line
                .form-group
                  .form-group__header
                    +checkbox({label:'Wednesday', checked:true})(data-checkbox-toggle="wednesday")
                div(data-checkbox-toggle-content="wednesday")
                  .row
                    .col-6
                      .form-group
                        .form-group__header
                          label.p From
                        +time-select()
                    .col-6
                      .form-group
                        .form-group__header
                          label.p To
                        +time-select()
              .form__line
                .form-group
                  .button-group.button-group--fluid
                    +button({type:'bordered', size:'xl', classes:'button-group__button'})(type="button")| Submit
                    +button({size:'xl', classes:'button-group__button'})(type="button")| Cancel

      .start-page__image
        .start-page__image-box
          img(src="images/permissions/permission-success-image.svg" alt="permission")
