extends layouts/main
include /partials/sidebar
include /partials/delete-confirmation-popup

block variables
  - var title = 'Bartender'
  - var tabName = 'sell'

block content
  .bartender-page
    +delete-confirmation-popup()

    .bartender-page__sidebar
      +sidebar({navActive:'bartender'})

    .bartender-page__container
      include /pages/bartender/header
      .bartender-page__wrap
        div(data-simplebar class="custom-scroll bartender-page__box")
          include /pages/bartender/sell/product

    include /pages/bartender/mobile-footer
