extends layouts/main
include /partials/sidebar
include /partials/choose-location-radius-popup

block variables
  - var title = 'Bartender'
  - var tabName = 'home'

block content
  .bartender-page
    +choose-location-radius-popup()

    .bartender-page__sidebar
      +sidebar({navActive:'bartender'})

    .bartender-page__container
      include /pages/bartender/header
      include /pages/bartender/greetings
      .bartender-page__wrap
        div(data-simplebar class="custom-scroll bartender-page__box")
          include /pages/bartender/home/home

    include /pages/bartender/mobile-footer
