extends layouts/main
include /partials/sidebar

block variables
  - var title = 'Bartender'
  - var tabName = 'home'

block content
  .bartender-page

    .bartender-page__sidebar
      +sidebar({navActive:'bartender'})

    .bartender-page__container
      include /pages/bartender/header
      .bartender-page__wrap
        div(data-simplebar class="custom-scroll bartender-page__box")
          include /pages/bartender/categories

    include /pages/bartender/mobile-footer
