extends layouts/main
include /partials/sidebar
include /partials/choose-location-popup

block variables
  - const title = 'Eats'

block content
  .car-share-eats-page
    +choose-location-popup()
    .car-share-eats-page__sidebar
      +sidebar({navActive:'carShare', innerNavigation:'eats'})

    .car-share-eats-page__container
      include /pages/car-share-eats/header
      .car-share-eats-page__wrap
        div(data-simplebar class="custom-scroll car-share-eats-page__box")
          include /pages/car-share-eats/cart-history

    include /pages/car-share/mobile-footer
