extends layouts/main
include /partials/sidebar
include /partials/choose-location-popup
include /partials/sort-popup

block variables
  - const title = 'Marketplace'
  - const tabName = 'marketplace'

block content
  .marketplace-page
    +choose-location-popup()
    +sort-popup()
    .marketplace-page__sidebar
      +sidebar({navActive:'marketplace'})

    .marketplace-page__container
      include /pages/marketplace/header
      .marketplace-page__wrap
        .marketplace-page__menu
          include /pages/marketplace/menu
        .marketplace-page__content
          div(data-simplebar class="custom-scroll marketplace-page__box")
            include /pages/marketplace/category

    include /pages/marketplace/mobile-footer
