extends layouts/main
include /partials/sidebar
include /partials/fixed-button

block variables
  - const title = 'Marketplace'
  - const heading = 'Marketplace'
  - const tabName = 'sell'

block content
  .marketplace-page
    .marketplace-page__sidebar
      +sidebar({navActive:'marketplace'})

    .marketplace-page__container
      include /pages/marketplace/header
      .marketplace-page__wrap
        .marketplace-page__content
          .marketplace-page__row
            .marketplace-page__left
              div(data-simplebar class="custom-scroll marketplace-page__box")
                include /pages/marketplace/sell-form

    include /pages/marketplace/mobile-footer
