extends layouts/main
include /partials/button

block variables
  - var title = 'Permission success'

block content
  .status-page
    .status-page__wrap
      .status-page__box
        .status-page__image
          img(src="images/permissions/permission-success-image.svg", alt="success")
        .status-page__title
          h2 Success!
        .status-page__text
          p.text-muted You get permission to start sell products at marketplace
        .status-page__buttons
          +button({size:'xl', width:'400'})(href="marketplace-sell.html")| Get Started
