extends /layouts/main
include /partials/sidebar
include /partials/contact-popup
include /partials/create-group-popup
include /partials/add-members-popup

block variables
  - const title = 'Social Network'
  - const tabName = 'chat'

block content
  .social-app-page
    +contact-popup()
    +create-group-popup()
    +add-members-popup()

    .social-app-page__sidebar
      +sidebar({navActive:'social'})

    .social-app-page__container
      include /pages/social-app/header

      .social-app-page__row
        .social-app-page__main
          .social-app-page__content
            include /pages/social-app/chat-box

    include /pages/social-app/mobile-footer
