include /partials/article

+article({
  title:'Hyperloop represents the greatest leap in transport infrastructure',
  description:'A Hyperloop is a proposed mode of passenger and freight transportation, first used to describe an open-source vactrain',
  image:'images/hyperloop/article/article-1.jpg',
  text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam est enim proin duis pharetra ut eu. Mauris risus gravida nunc donec tristique molestie. A dolor id mauris duis sit. Scelerisque urna viverra morbi elementum. Sit lectus urna scelerisque at elementum dui. Imperdiet egestas mattis scelerisque nisi a. Leo ipsum quis tincidunt sit et ac viverra. Amet, venenatis eget malesuada adipiscing egestas condimentum blandit sed arcu. Vitae massa scelerisque mi purus rhoncus nunc. Egestas vehicula felis nulla sed et urna. Etiam nisi, adipiscing viverra bibendum aliquet suscipit sagittis. Integer diam neque accumsan et orci nibh. Id purus sed at dolor felis neque scelerisque et. Cras iaculis id elementum sem auctor a. Eu nibh amet, amet a cursus et dolor. Lorem sed elementum duis feugiat mi massa augue. Maecenas enim nec ornare eros, varius bibendum lacus sit. Habitant etiam scelerisque semper dictum. Sem vestibulum accumsan, diam tincidunt vel mauris. Massa magna vitae, ut diam ut. In sit congue volutpat velit sed nisi et faucibus vel. Venenatis vel id amet leo. Congue sit convallis ultricies tortor proin. Varius leo lacus velit orci morbi. Dolor ut sed leo lectus. Tortor habitasse eget phasellus accumsan. Fusce convallis vel sit risus, condimentum in aenean amet. Elementum elementum a etiam varius at ac, suspendisse faucibus. Turpis dolor, mi arcu libero. Ullamcorper proin urna pharetra lorem. Auctor aliquam sagittis'
})
