include /partials/input
include /partials/country-select
include /partials/state-select
include /partials/inter-tel-input
include /partials/avatar
include /partials/textarea
include /partials/upload-button
include /partials/button

form.form
  .form__line
    h3 Become a Contractor
  .form__line
    .form-group
      .form-group__header
        label.p First name
      +input()(type="text" placeholder="John")
  .form__line
    .form-group
      .form-group__header
        label.p Last name
      +input()(type="text" placeholder="Doe")
  .form__line
    .form-group
      .form-group__header
        label.p Mobile phone
      +inter-tel-input()
  .form__line
    .form-group
      .form-group__header
        label.p Email
      +input()(type="email" placeholder="Email")
  .form__line
    .form-group
      .form-group__header
        label.p Country
      +country-select()
  .form__line
    .row
      .col-7
        .form__group
          .form-group__header
            label.p State/Province
          +state-select()
      .col-5
        .form__group
          .form-group__header
            label.p Zip code
          +input()(type="number" placeholder="0000")
  .form__line
    .form-group
      .form-group__header
        label.p City
      +input()(type="text" placeholder="Your city")
  .form__line
    .form-group
      .form-group__header
        label.p Address
      +input()(type="text" placeholder="Your address")
  .form__line
    .form-group
      .column-group.column-group--justify-items-center
        .column-group__item
          +avatar({image:'images/set-avatar/avatar.svg', size:'lg'})
        .column-group__item
          +upload-button({title: 'Change photo'})
  .form__line
    .form-group
      .form-group__header
        label.p Details about your request
      +textarea()(placeholder="Why are you interested in this request?")
  .form__line
    +button({size:'xl', type:'white', fluid:true})(type="submit")| Apply and go to Chat
