.mobile-footer.js-mobile-footer
  if(mobFooterButton)
    .mobile-footer__button
      a(href="hyperloop-contractor-form.html" class="button button--white button--xl button--400") Become a Contractor
  .mobile-footer__tabs
    include ./menu-tabs
