include /partials/close
include /partials/select
include /partials/coin-badge
include /partials/avatar
include /partials/checkbox
include /partials/button

.popup.modal(data-popup="bartender-sell-offer-popup")

  .popup__header-offset
  .popup__header
    .content-header.content-header--md-border-0
      .content-header__center
        h3 Offer
      .content-header__right.content-header__right--md-left
        +close({mdLight:true})(data-popup-close="offer-popup")

  .popup__body
    //- First screen
    div(data-popup-content="offer")
      .column-group.column-group--justify-items-center

        .column-group__item
          .exchange-card
            .exchange-card__header
              .exchange-card__preview
                figure(style="background-image:url('images/bartender/products/product-1.jpg')")
            .exchange-card__content
              .exchange-card__checkout
                .exchange-card__checkout-item
                  .exchange-card__checkout-line
                    p.text-muted What you want to exchange
                  .exchange-card__checkout-line
                    p Carrot
                .exchange-card__checkout-item
                  .exchange-card__checkout-line
                    p.text-muted How many
                  .exchange-card__checkout-line
                    p 5
                    p.text-muted Kg

        .column-group__item
          .row-group.row-group--xs.row-group--align-center
            .row-group__item
              +icon('circle-arrows', 'svg-icon--muted')(width="20" height="20")
            .row-group__item
              h4.text-muted.text-uppercase Exchange for

        .column-group__item
          .exchange-card
            .exchange-card__header
              .column-group.column-group--xs.column-group--align-center
                .column-group__item
                  +avatar({image:'images/user/avatar.jpg'})
                .column-group__item
                  h4 Rachel Cole
            .exchange-card__content
              .exchange-card__checkout
                .exchange-card__checkout-item
                  .exchange-card__checkout-line
                    p.text-muted What you want to recieve
                  .exchange-card__checkout-line
                    p Onions
                .exchange-card__checkout-item
                  .exchange-card__checkout-line
                    p.text-muted How many
                  .exchange-card__checkout-line
                    p 5
                    p.text-muted Kg

        .column-group__item
          +button({fluid:true, size:'xl'})(type="button")| Accept offer
        .column-group__item
          .button-group.button-group--fluid
            +button({size:'xl', type:'bordered', classes:'button-group__button js-popup-switcher'})(type="button" data-popup-content-hide="offer" data-popup-content-show="offer-change")| Change terms
            +button({size:'xl', type:'bordered', classes:'button-group__button', state:'bordered-danger'})(type="button")| Decline offer

    //- Second screen
    div(data-popup-content="offer-change")
      .column-group.column-group--justify-items-center

        .column-group__item
          .exchange-card
            .exchange-card
              .exchange-card__header
                .exchange-card__preview
                  figure(style="background-image:url('images/bartender/products/product-1.jpg')")
            .exchange-card__content
              form.form
                .form__line
                  .form-group
                    .form-group__header
                      label.p What you want to exchange
                    +input({bg:'primary'})(type="text" placeholder="Carrot")
                .form__line
                  .form-group
                    .form-group__header
                      label.p How many
                    +select({
                      modifiers:'select--bg-primary',
                      label:{name:'1', selected:false, right:'<p class="text-muted">Kg</p>'},
                      options:[
                        {name:'1', right:'<p class="text-muted">Kg</p>'},
                        {name:'2', right:'<p class="text-muted">Kg</p>'},
                        {name:'3', right:'<p class="text-muted">Kg</p>'},
                        {name:'4', right:'<p class="text-muted">Kg</p>'},
                        {name:'5', right:'<p class="text-muted">Kg</p>'},
                      ],
                    })
                .form__line
                  +checkbox({squere:true, label:'change', checked:true})
                .form__line
                  .form-group
                    .input-group.input-group--bg-primary
                      +input({bg:'primary', classes:'input-group__input'})(type="number" value="12")
                      .input-group__append
                        .input-group__wrap
                          +coin-badge({icon:'images/icons/g-coin.svg', title: 'GCN'})

        .column-group__item
          .row-group.row-group--align-center.row-group--xs
            .row-group__item
              +icon('circle-arrows', 'svg-icon--muted')(width="20" height="20")
            .row-group__item
              h4.text-muted.text-uppercase Exchange for

        .column-group__item
          .exchange-card
            .exchange-card__header
              .column-group.column-group--xs.column-group--align-center
                .column-group__item
                  +avatar({image:'images/user/avatar.jpg'})
                .column-group__item
                  h4 Rachel Cole
            .exchange-card__content
              form.form
                .form__line
                  .form-group
                    .form-group__header
                      label.p What you want to exchange
                    +input({bg:'primary'})(type="text" placeholder="Carrot")
                .form__line
                  .form-group
                    .form-group__header
                      label.p How many
                    +select({
                      modifiers:'select--bg-primary',
                      label:{name:'3', selected:false, right:'<p class="text-muted">Kg</p>'},
                      options:[
                        {name:'1', right:'<p class="text-muted">Kg</p>'},
                        {name:'2', right:'<p class="text-muted">Kg</p>'},
                        {name:'3', right:'<p class="text-muted">Kg</p>'},
                      ],
                    })
                .form__line
                  .form-group
                    +checkbox({squere:true, label:'change'})

        .column-group__item
          .button-group.button-group--fluid
            +button({size:'xl', classes:'button-group__button'})(type="button")| Cancel
            +button({size:'xl', type:'white', classes:'button-group__button'})(type="button")| Send offer
