include /partials/see-all
include /partials/slider-arrows
include /partials/star-rating
include /partials/shop-card
include /partials/catalog-header
-
  var categories = [
    {link:'marketplace-subcategories.html', image: 'images/marketplace/categories/category-1.jpg', title: 'Electronics'},
    {link:'marketplace-subcategories.html', image: 'images/marketplace/categories/category-2.jpg', title: 'Fashion'},
    {link:'marketplace-subcategories.html', image: 'images/marketplace/categories/category-3.jpg', title: 'Health & Beauty'},
    {link:'marketplace-subcategories.html', image: 'images/marketplace/categories/category-4.jpg', title: 'Home & Garden'},
  ]

.catalog
  .catalog__header
    +catalog-header({
      left: `<h3>Shop by categories</h3>`,
      right: {partial:'see-all', params:{link:'marketplace-categories.html'}}
    })

  .catalog-slider
    .catalog-slider__arrows
      +slider-arrows({prev: 'js-catalog-slider-prev', next: 'js-catalog-slider-next'})
    .catalog-slider__slides.js-catalog-slider
      +times(2)
        each category in categories
          .catalog-slider__slide
            +shop-card({
              link:category.link,
              image:category.image,
              content:[
                `<h4 class="text-center">${category.title}</h4>`
              ]
            })
